{% extends 'base.html.twig' %}

{% block title %}Edit Yacht{% endblock %}

{% block body %}
    <h1>Edit Yacht</h1>

    {{ include('yacht/_form.html.twig', {'button_label': 'Update', 'type': 'edit'}) }}

    {{ include('yacht/_delete_form.html.twig') }}
{% endblock %}
