{% extends 'base.html.twig' %}

{% block title %}Edit Yacht{% endblock %}

{% block body %}
    <h1>Yacht edit - {{ yacht.name }}</h1>

    {{ include('yacht/_form.html.twig', {'button_label': 'Update', 'type': 'edit'}) }}

{% endblock %}
