{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <h1>Reserve {{ reservation.yacht.name }}</h1>

    {{ include('reservation/_form.html.twig', {reservation: reservation, disabledDates: disabledDates}) }}

    <a href="{{ path('reservation_index') }}">back to list</a>
{% endblock %}
