{% extends 'base.html.twig' %}

{% block title %}New Review{% endblock %}

{% block body %}
    <div class="d-flex bd-highlight">
        <div class="flex-grow-1"><h1>Rate yacht - {{ review.yacht }}</h1></div>
        <div>
            <a class="btn btn-dark" href="{{ path('yacht_show', {'id': review.yacht.id}) }}">Back</a>
        </div>
    </div>

    {{ include('review/_form.html.twig') }}
{% endblock %}
